<div id="thisCommunicationType" class="communicationType">
  <div class="communicationType-content">
    <div class="communicationType-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="communicationTypeInfo">Select Communication Type</p>
      <ul class="timeSetter">
      	  <li><input type="number" min="1" max="60" value="1"></li>
          <li>Minutes</li>
      </ul>
      <p id="alotCom">Please Alot Communication Time!</p>
      <ul>
      	  <li><i class="fa fa-comments" id="textCommunication"></i></li>
          <li><button onclick="textCommunication()">Chat!</button></li>
      </ul>

      <ul>
      	  <li><i class="fa fa-video-camera" id="videoCommunication"></i></li>
          <li><button onclick="videoCommunication()">VideoChat!</button></li>
      </ul>

      <ul>
      	  <li><i class="fa fa-headphones" id=""></i></li>
      	  <li><button onclick="audioCommunication()">Audio Chat!</button></li>
      </ul>
    </div>
  </div>
</div>