<div id="thisConfirm" class="confirming">
  <div class="confirming-content">
    <div class="confirming-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="areUsure">Are you sure you call this person</p>
      <button id="confirmCall" onclick="continueCall()">Yes</button> 
      <button id="rejectCall" onclick="dontCall()">No</button> 
    </div>
  </div>
</div>