<div id="thisDecline" class="declineSuccessfull">
  <div class="declineSuccessfull-content">
    <div class="declineSuccessfull-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="declinedNotice">Call Declined Successfully!!</p>
    </div>
  </div>
</div>