<div id="thisDropCall" class="dropCall">
  <div class="dropCall-content">
    <div class="dropCall-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="droppingCall">Call Declined Successfully!!</p>
      <button id="dropTheCall" onclick="dropTheCall()">Decline Call!</button>
    </div>
  </div>
</div>