<div id="thisEnqueeCaller" class="enqueeCaller">
  <div class="enqueeCaller-content">
    <div class="enqueeCaller-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="enqueeCallerInfo">Time Assigned To You!</p>
      <ul>
		  	<li>50</li>
		  	<li>Minutes</li>
      </ul>
      <p> <span id="enqueIdentiy">Sammuel JackSon</span>Is Currently On Another Call!</p>
      <p id="lastInfo">Hold On While He Finishes!</p>
    </div>
  </div>
</div>