<div id="thisIncommingCall" class="incommingCall">
  <div class="incommingCall-content">
    <div class="incommingCall-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="areUsure">Topic: <br> <span style="font-weight: bold;">Advanced Java Programming</span></p>
      <button id="confirmIncommingCall" onclick="confirmIncommingCall()">Answer Call!</button> 
      <button id="rejectIncommingCall" onclick="rejectIncommingCall()">Reject Call!</button> 
    </div>
  </div>
</div>