<div id="thisConfirm" class="notAvailable">
  <div class="notAvailable-content">
    <div class="notAvailable-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="personInfo">Samuel JackSon is <span style="color: red">offline</span><br>
      Check Samuel JackSon TimeSchedule for Availability??</p>
      <button id="checkTimeLine" onclick="checkTimeLine()">Yes</button> 
      <button id="dontCheckTimeLine" onclick="dontCheckTimeLine()">No</button> 
    </div>
  </div>
</div>