<div id="thisNotOnlineAgain" class="notOnlineAgain">
  <div class="notOnlineAgain-content">
    <div class="notOnlineAgain-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="notOnlineInfo">Sam Joe suddenly went Offline<br>Call Again or Check Network</p>
    </div>
  </div>
</div>