<div class="parentForRateCover" style="">
   <div class="enableScroll" style="">
   	<form action="/rating" method="POST" style="" enctype="multipart/form-data" id="formRating">
   		<input type="text" name="myEmailhidden" style="display: none;" id="myEmailhidden">
   		<div class="parentForRate" style="">
     	<div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Apple(Love).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Apple<br>(Love)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name = "Apple" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Banana(Creativity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Banana<br>(Creativity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Banana" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Durian(Confidence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Durian<br>(Confidence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Durian" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Cucumber(Caring).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cucumber<br>(Caring)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Cucumber" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Date(Consistency).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Date<br>(Consistency)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Date" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Dragonfruit(Knowledge).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Dragonfruit<br>(Knowledge)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Dragonfruit" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Blackberry(Experience).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blackberry<br>(Experience)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Blackberry" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Olive(Faithfulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Olive<br>(Faithfulness).jpg</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Olive" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/coconut(Intelligence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">coconut<br>(Intelligence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Coconut" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Walnut(Humour).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Walnut<br>(Humour).jpg</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Walnut" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Lemon(Thoroughness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lemon<br>(Thoroughness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Lemon" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Tangerine(Cooperation).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Tangerine<br>(Cooperation)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Tangerine" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Passionfruit(Passion).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Passionfruit<br>(Passion)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Passionfruit" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Starfruit(Leadership).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Starfruit<br>(Leadership)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Starfruit" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Fig(Wisdom).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Fig<br>(Wisdom)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Fig" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Pomengranate(Resourcefulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Pomengranate<br>(Resourcefulness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Pomengranate" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Orange(Insight).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Orange<br>(Insight)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Orange" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Cherry(Holiness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cherry<br>(Holiness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Cherry" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Watermelon(Generosity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Watermelon<br>(Generosity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Watermelon" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Guava(Sincerity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Guava<br>(Sincerity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Guava" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Kiwifruit(Kindness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Kiwifruit<br>(Kindness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Kiwifruit" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
       
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Cantaloupe(Humility).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cantaloupe<br>(Humility)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Cantaloupe" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Breadfruit(Expertise).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Breadfruit<br>(Expertise)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Breadfruit" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Papaya(Openness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Papaya<br>(Openness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Papaya" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Miraclefruit(Helpfulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Miraclefruit<br>(Helpfulness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Miraclefruit" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Huckleberry(Friendliness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Huckleberry<br>(Friendliness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Huckleberry" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Grape(Innocence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Grape<br>(Innocence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Grape" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Tamarind(Trustworthiness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Tamarind<br>(Trustworthiness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Tamarind" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Blueberry(Empathy).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blueberry<br>(Empathy)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Blueberry" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Blackcurrant(Brilliance).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blackcurrant<br>(Brilliance)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Blackcurrant" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Jackfruit(Capacity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Jackfruit<br>(Capacity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Jackfruit" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Kolanut(Courtesy).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Kolanut<br>(Courtesy)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Kolanut" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Longan(Emotional Intelligence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Longan<br>(Emotional Intelligence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Longan" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Bitter Kola(Honour).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Bitter Kola<br>(Honour)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="bitter Kola" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Peach(Excellence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Peach<br>(Excellence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Peach" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Lychee(Loyalty).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lychee<br>(Loyalty)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Lychee" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Damson(Honesty).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Damson<br>(Honesty)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Damson" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Cashew(Optimism).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cashew<br>(Optimism)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Cashew" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Mango(Fairness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Mango<br>(Fairness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Mango" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Avocado(Compassion).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Avocado<br>(Compassion)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Avocado" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Pear(Grace).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Pear<br>(Grace)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Pear" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Loquat(Reliability).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Loquat<br>(Reliability)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Loquat" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Jujube(Tolerence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Jujube<br>(Tolerence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Jujube" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Lime(Frankness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lime<br>(Frankness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input name="Lime" class="numberInputRate" type="number" min="1" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="padding-bottom: 20px;">
		     	<div class="imgDiv" style="">
		     		<img src="http://127.0.0.1:9000/Images/Pineapple(Patience).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="padding-top: 35%;">Pineapple<br>(Patience)</p><br>
		     	</div>
		     	<div class="rateDiv" style="width: 30%; margin-top: 10%;">
		     		<input name="Pineapple" class="numberInputRate" type="number" min="1" max="100" style="" value="10" style="">
		     	</div>
        </div>
        <button style="left: 80%; z-index: 6px; position: fixed; top: 200px; float: right; border: 2px solid orange; padding: 25px; padding-left: 10px; padding-right: 10px; color: white; background-color: green; border-radius: 50%;">submit</button>
    </div>
   	</form>
</div>
</div>
