<div id="thisStopCall" class="stopCall">
  <div class="stopCall-content">
    <div class="stopCall-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="areUsure">Ooops!! you cant Call yourself<br>why should you be calling yourself ?? <br> kind of wierd<br>dont you think so</p>
    </div>
  </div>
</div>