<div id="thisDisconnected" class="disconnected">
  <div class="disconnected-content">
    <div class="disconnected-body">
      <img src="/public/images/man.jpg" alt="">
      <p id="disconnectedInfo">Samuel JackSon Is Now <span style="color: red;">Offline</span><br> <span style="color: red;">Can't Continue Calling!</span><br><br>
      please also check your own connection to the internet!!</p>
    </div>
  </div>
</div>